.inline-label {
  position: relative;
  margin: auto;

  label {
    position: absolute;
    left: 10%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: whitesmoke;
    background-color: #333;
  }

  label span {
    margin: auto 0.2rem;
  }

  textarea,
  input {
    background-color: #333;
    border: 0.05rem solid whitesmoke;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: whitesmoke;
    padding: 0.55rem 0.5rem;
    outline: none;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
}
