.login {
  width: 100%;
  height: 100%;
  margin: auto;

  form {
    width: fit-content;
    margin: 20vmin auto;
    text-align: center;

    div {
      margin: 1rem 0;
    }

    input[type="submit"] {
      background-color: transparent;
      border: 0.1rem solid whitesmoke;
      border-radius: 0.7rem;
      margin: 0 1rem;
      padding: 0.5rem;
      color: whitesmoke;
      cursor: pointer;

      &:hover {
        background-color: green;
      }

      &:first-child {
        border-color: whitesmoke;
      }

      &:last-child {
        border-color: green;
      }
    }
  }
}
